@model ProjectDetailsModel

@{
    Layout = "_ProjectLayout";
    ViewBag.Title = "Create Project";
}

<h2>Project Details</h2>
<p>This is the project details page for project ID: @Model.ProjectId</p>
